@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  --primary-color: #6c5f5b;
  --primary-dark: #4f4a45;
  --secondary-color: #f6f1ee;
  --secondary-color-orange: #ed7d31;
}

* {
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 98vh;
  min-width: 98vw;
  max-width: 1440px;
  font-family: "Roboto";
  font-size: 1.5rem;
  background-color: var(--secondary-color);
}

.search-box {
  margin: 20px auto;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}

.book-search {
  width: 80%;
  font-size: 10rem;
}

.books h1 {
  font-size: xx-large;
  color: var(--primary-dark);
}

.books-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.book-card {
  padding: 10px;
  max-width: 30rem;
  min-width: 30rem;
  border-radius: 8px;
  background-color: #c3c2c2;
  text-align: center;
}

.card-heading {
  background-color: var(--primary-dark);
  color: white;
}

.card-link {
  font-size: 2rem;
  text-decoration: none;
}

.serial-usage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.serial-usage p {
  font-weight: 400;
  font-size: 1.75rem;
}

.serial-usage p.used {
  background-color: green;
}
.serial-usage p.un-used {
  background-color: red;
}

.serial-usage p {
  color: white;
  padding: 5px;
}

.error {
  font-size: 1.75rem;
  font-weight: 500;
  color: red;
}

.book-page {
  width: 100%;
  background-color: #c3c2c2;
}

.book-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-subheading {
  font-size: 3rem;
  color: var(--primary-dark);
}

.serial-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.serial-serial {
  background-color: var(--primary-dark);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

.serial-number {
  font-size: 2rem;
  padding: 2rem;
  background-color: #c3c2c2;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 24rem;
}

.books-graph {
  width: 100%;
}
.css-1cj1zx6-MuiResponsiveChart-container {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  /* Add your CSS rules for this breakpoint */

  .add-book-container div,
  .add-book {
    min-width: 100%;
  }
  .serial-number {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 601px) {
  /* Add your CSS rules for this breakpoint */
  .book-card,
  .add-book-container div,
  .add-book {
    min-width: 100%;
  }
  .serial-number {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Add your CSS rules for this breakpoint */
  .book-card,
  .add-book-container div,
  .add-book {
    min-width: 100%;
  }
  .serial-number {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Add your CSS rules for this breakpoint */
}

main.add-book-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.add-book-container-div {
  width: 100%;
}

.add-book form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-book-container-div h1 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--primary-dark);
}

/* .App {
  height: 100vh;
  max-width: 80%;
  background-color: white;
}

.add-book-form {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px;
}

.add-form label {
  font-size: 25px;
  padding: 10px;
}

.add-form input {
  padding: 10px;
  font-size: 20px;
}

.add-form button {
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
}

.books {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.books h2 {
  color: blue;
}

.books h4 {
  color: red;
}

.serials {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serial {
  background-color: rgb(70, 70, 158);
  color: white;
  max-width: 200px;
} */
